---
import TestLayout from "../layouts/TestLayout.astro";
import CloudinaryImage from "../components/CloudinaryImage.astro";

// component props expected:  title, media, city, state, year, cloudinaryId,

const manzanarMonument = {
  title: "Manzanar Concentration Camp, Monument",
  media: "Panoramic photo collage with Fuji Crystal Archive prints",
  year: 1995,
  city: "Inyo County",
  state: "California",
  country: "USA",
  cloudinaryId: "internment-camps/Manzanar_Internment_Camp_Monument_so2g5c.jpg",
  size: '20" x 40"',
};

// layouts can have one or more slots!
---

<TestLayout>
  <CloudinaryImage
    title={manzanarMonument.title}
    city={manzanarMonument.city}
    state={manzanarMonument.state}
    year={manzanarMonument.year}
    cloudinaryId={manzanarMonument.cloudinaryId}
    media={manzanarMonument.media}
    size={manzanarMonument.size}
  />

  <p slot="test-slot" class="pt-36 text-center">
    This is some randome content to test the test-slot.
  </p>
</TestLayout>
