---
import { Image } from 'astro:assets';

interface Photo {
  src: ImageMetadata;
  alt: string;
  description: string;
}

interface Props {
  photos: Photo[];
}

const { photos } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 my-8">
  {photos.map((photo) => (
    <div class="space-y-3">
      <div>
        <Image
          src={photo.src}
          alt={photo.alt}
          width={photo.src.width}
          height={photo.src.height}
          class="hover:scale-105 transition-transform duration-300"
        />
      </div>
      <p class="text-gray-300 text-lg leading-relaxed font-inter">
        {photo.description}
      </p>
    </div>
  ))}
</div>
